<nav class="sheet-tabs tabs" data-group="primary">
	<a class="item" data-tab="focuses">
		{{localize 'dishonored.actor.focus.title'}}
	</a>
	<a class="item" data-tab="abilities">
		{{localize 'dishonored.actor.abilities.title'}}
	</a>
	<a class="item" data-tab="belongings">
		{{localize 'dishonored.actor.belonging.title'}}
	</a>
	<a class="item" data-tab="biography">
		{{localize 'dishonored.actor.biography.title'}}
	</a>
	<a class="item" data-tab="notes">
		{{localize 'dishonored.actor.note.title'}}
	</a>
</nav>
