<div class="tab biography" data-group="primary" data-tab="biography">
	{{> actors/partials/decorations/column-svg }}

	<div class="content">
		<div class="section truths">
			{{> actors/partials/inventory-section
				itemNameLabel="dishonored.actor.truth.content"
				itemNameStyle="column-x1"
				sectionTitle="dishonored.actor.truth.title"
				sectionType="truth"
			}}
		</div>

		<div class="section contacts">
			{{> actors/partials/inventory-section
				itemNameLabel="dishonored.actor.truth.content"
				itemNameStyle="column-x2"
				sectionTitle="dishonored.actor.contact.title"
				sectionType="contact"
			}}
		</div>
	</div>
	{{!-- <div class="content">

		<div class="section contacts">
			<div class="title">
				{{localize 'dishonored.actor.contact.title'}}
			</div>
			<div class="row item">
				<div class="image"></div>
				<div class="column-x2 bold">{{localize 'dishonored.actor.genericitem.name'}}</div>
				<div class="column-x2 bold">{{localize 'dishonored.actor.contact.relation'}}</div>
				<a class="control create" title="{{localize 'dishonored.titles.createItem'}}" data-type="contact"><i class="fas fa-plus"></i></a>
			</div>
			{{#each items as |item id|}}
			{{#if (eq item.type "contact")}}
			<li class="row entry" data-item-id="{{item._id}}" data-item-type="{{item.type}}">
				<div class="image"><img class="rollable" src="{{item.img}}" title="{{item.name}}"/></div>
				<h4 class="column-x2">{{item.name}}</h4>
				<h4 class="column-x2">{{localize (lookup ../DISHONORED.RELATIONSHIPS item.system.relationship)}}</h4>
				<div class="control">
					<a class="control edit" title="{{localize 'dishonored.titles.editItem'}}"><i class="fas fa-edit"></i></a>
					<a class="control delete" title="{{localize 'dishonored.titles.deleteItem'}}"><i class="fas fa-trash"></i></a>
				</div>
			</li>
			{{/if}}
			{{/each}}
		</div>
	</div> --}}
</div>
