<form class="{{cssClass}}" autocomplete="off">
    <div class="main-content">
        <div class="header-fields">
            <div class="slot">
                <div class="row">
                    <div class="column bold title" style="width:85%">
                        {{localize 'dishonored.actor.character.name'}}
                    </div>
                    <div class="column bold title" style="width:15%">
                        {{localize 'dishonored.actor.character.age'}}
                    </div>
                </div>
                <div class="row">
                    <div class="column" style="width:85%">
                        <input name="name" type="text" value="{{actor.name}}" placeholder="Name" />
                    </div>
                    <div class="column" style="width:15%">
                        <input name="system.age" type="text" value="{{system.age}}" placeholder="21" />
                    </div>
                </div>
                <div class="row">
                    <div class="column bold title" style="width:100%">
                        {{localize 'dishonored.actor.npc.types'}}
                    </div>
                </div>
                <div class="row">
                    <div class="column" style="width:100%">
                        <select class="type" name="system.type" data-type="String">
                            {{#select system.type}}
                            {{#each system.types as |type key|}}
                            <option value="{{localize type.label}}">{{localize type.label}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="section skill">
                        <div class="title bold">
                            {{localize 'dishonored.actor.skill.title'}}
                        </div>
                        <div class="stat row">
                            <div class="selector-space"></div>
                            <div class="text bold head-text">{{localize 'dishonored.actor.skill.name'}}</div>
                            <div class="field bold head-text">{{localize 'dishonored.actor.skisty.mod'}}</div>
                        </div>
                        {{#each system.skills as |skill key|}}
                        <div class="stat row">
                            <input class="selector skill" id="{{key}}.selector" type="checkbox" name="system.skills.{{key}}.selected" data-dtype="Boolean" {{checked skill.selected}}>
                            <div class="text"> {{localize skill.label}} </div>
                            <input class="field" id="{{key}}" name="system.skills.{{key}}.value" type="text" value="{{skill.value}}" />
                        </div>
                        {{/each}}
                        <div class="separator"></div>
                        <div class="check-button btn" title="{{localize 'dishonored.actor.skisty.check'}}">{{localize 'dishonored.actor.skisty.check'}}</div>

                    </div>
                </div>
                <div class="column">
                    <div class="section stress">
                        <div class="title bold">
                            {{localize 'dishonored.actor.character.stress'}}
                        </div>
                        <div class="track">
                            <input type="hidden" id="total-stress" name="system.stress.value" value="{{system.stress.value}}" data-dtype="Number" />
                            <input type="hidden" id="max-stress" name="system.stress.max" value="{{system.stress.max}}" data-dtype="Number" />
                            <div id="bar-stress-renderer" class=" bar"></div>
                        </div>
                    </div>
                    <div class="separator"></div>
                    <div class="section img">
                        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
                    </div>
                    <div class="separator"></div>
                </div>
                <div class="column">
                    <div class="section style">
                        <div class="title bold">
                            {{localize 'dishonored.actor.style.title'}}
                        </div>
                        <div class="stat row">
                            <div class="field bold head-text">{{localize 'dishonored.actor.skisty.mod'}}</div>
                            <div class="text bold head-text">{{localize 'dishonored.actor.style.name'}}</div>
                            <div class="selector-space"></div>
                        </div>
                        {{#each system.styles as |style key|}}
                        <div class="stat row">
                            <input class="field" id="{{key}}" name="system.styles.{{key}}.value" type="text" value="{{style.value}}" placeholder="Name" />
                            <div class="text"> {{localize style.label}} </div>
                            <input class="selector style" id="{{key}}.selector" type="checkbox" name="system.styles.{{key}}.selected" data-dtype="Boolean" {{checked style.selected}}>
                        </div>
                        {{/each}}
                        <div class="separator"></div>
                        <div class="check-button btn" title="{{localize 'dishonored.actor.skisty.check'}}">{{localize 'dishonored.actor.skisty.check'}}</div>
                    </div>
                </div>
            </div>
            <nav class="sheet-tabs tabs" data-group="primary">
                <a class="item" data-tab="focuses">{{localize 'dishonored.actor.focus.title'}}</a>
                <a class="item" data-tab="abilities">Abilities</a>
                <a class="item" data-tab="belongings">{{localize 'dishonored.actor.belonging.title'}}</a>
                <a class="item" data-tab="biography">Biography</a>
                <a class="item" data-tab="notes">{{localize 'dishonored.actor.note.title'}}</a>
            </nav>
        </div>
        <section class="sheet-body">
            <svg width="1920" height="451.40601" viewBox="0 0 507.99999 119.43451" style="width:100%; height:auto; position: absolute;">
                <g id="layer1" transform="translate(0,-177.56548)">
                    <path style="fill:#000000;stroke:none;stroke-width:0.27021405px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" d="m 251.29904,177.56549 c 0,0 -26.40321,8.3095 -42.27821,8.3095 H 14.552083 c -0.218435,-2.36895 -1.51998,-3.88442 7.9375,-7.9375 -17.5639082,4.05308 -19.8437497,13.49375 -19.8437497,13.49375 0,0 -0.79375,-2.91042 -1.3229166,-8.20209 -0.1012742,17.16706 -0.081664,41.29768 0.028154,62.4301 0,1.3512 3e-7,2.70239 -1.35107080000004,-2.70211 0,9.45749 0.05674275,1.38109 0,13.51066 0,12.15955 5.12274970000004,27.2468 13.22916710000004,40.75754 v -10.80869 c -4.0532084,-9.45731 -2.702139,-21.61693 -1.351068,-29.7235 -1.294766,-0.70358 -1.253477,-0.77596 -1.282109,-3.47799 l -0.01266,-1.19434 H 6.6145833 c -1.3510712,5e-5 -1.3510712,-2.64578 0,-2.64583 h 3.9687497 v -2.64584 H 6.6145833 c -1.3510644,-0.004 -1.3510712,-2.64583 0,-2.64583 h 3.9687497 v -2.64583 H 6.6145833 c -1.3510712,0 -1.3510712,-2.64584 0,-2.64584 H 7.9375 V 218.9479 c 0,0 -0.056305,-2.64583 2.645833,-2.64583 v -3.43958 c -1.5524816,-0.9712 -2.645829,-2.70808 -2.645829,-4.49792 0,-2.70225 2.589529,-5.29116 5.291667,-5.29167 l 220.927079,-1.4e-4 c 0,-9.26041 7.9375,-17.19791 17.19792,-17.19791 z M 8.9958333,189.84374 c 1.1294137,0 2.1728277,0.50947 2.9104167,1.32291 12.964583,0 150.16241,0.0877 210.34375,0 0.73381,-0.70494 1.81389,-1.30638 2.91042,-1.30638 2.11666,0 3.95831,1.90684 3.96353,3.98786 0.005,2.08102 -1.84687,3.93311 -3.96353,3.93311 -1.1186,0 -2.17391,-0.52272 -2.91042,-1.32292 H 11.90625 c -0.736313,0.79801 -1.793616,1.32292 -2.9104167,1.32292 -2.1166666,0 -3.96875,-1.85209 -3.96875,-3.96875 0,-2.11667 1.8520834,-3.96875 3.96875,-3.96875 z M 3.96875,250.6979 c 0.05139,1.99733 1.3408357,3.96875 3.96875,3.96875 0,1.70732 0,3.96875 1.0583333,3.96875 -1.5726561,6.93242 -2.38125,15.875 1.5874997,27.78125 v 1.32292 C 6.6145833,281.12499 4.7625,273.18749 3.3504756,265.30616 2.6458333,259.95832 2.6458333,255.98957 2.6458333,253.34374 v -5.29167 z" id="path1366"/>
                    <ellipse style="opacity:1;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.39883763;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" id="path836" cx="13.256729" cy="208.32764" rx="3.9883728" ry="3.9883788" />
                    <circle style="opacity:1;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.77535379;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" id="path822" r="1.9383832" cy="258.62711" cx="5.3950624" />
                    <circle style="opacity:1;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.47601172;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" id="path822-6" r="1.1900285" cy="255.00548" cx="4.2051063" />
                    <path style="fill:#000000;stroke:none;stroke-width:0.27021405px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" d="m 256.70096,177.56549 c 0,0 26.40321,8.3095 42.27821,8.3095 h 194.46874 c 0.21844,-2.36895 1.51998,-3.88442 -7.9375,-7.9375 17.56391,4.05308 19.84375,13.49375 19.84375,13.49375 0,0 0.79375,-2.91042 1.32292,-8.20209 0.10127,17.16706 0.0817,41.29768 -0.0282,62.4301 0,1.3512 0,2.70239 1.35107,-2.70211 0,9.45749 -0.0568,1.38109 0,13.51066 0,12.15955 -5.12275,27.2468 -13.22917,40.75754 v -10.80869 c 4.05321,-9.45731 2.70214,-21.61693 1.35107,-29.7235 1.29476,-0.70358 1.25347,-0.77596 1.28211,-3.47799 l 0.0127,-1.19434 h 3.96874 c 1.35107,5e-5 1.35107,-2.64578 0,-2.64583 h -3.96875 v -2.64584 h 3.96875 c 1.35107,-0.004 1.35107,-2.64583 0,-2.64583 h -3.96875 v -2.64583 h 3.96875 c 1.35107,0 1.35107,-2.64584 0,-2.64584 h -1.32291 V 218.9479 c 0,0 0.0563,-2.64583 -2.64584,-2.64583 v -3.43958 c 1.55249,-0.9712 2.64583,-2.70808 2.64583,-4.49792 0,-2.70225 -2.58953,-5.29116 -5.29166,-5.29167 l -220.92708,-1.4e-4 c 0,-9.26041 -7.9375,-17.19791 -17.19792,-17.19791 z m 242.3032,12.27825 c -1.12941,0 -2.17282,0.50947 -2.91041,1.32291 -12.96459,0 -150.16241,0.0877 -210.34375,0 -0.73381,-0.70494 -1.81389,-1.30638 -2.91042,-1.30638 -2.11666,0 -3.95831,1.90684 -3.96353,3.98786 -0.005,2.08102 1.84687,3.93311 3.96353,3.93311 1.1186,0 2.17391,-0.52272 2.91042,-1.32292 h 210.34375 c 0.73631,0.79801 1.79361,1.32292 2.91041,1.32292 2.11667,0 3.96875,-1.85209 3.96875,-3.96875 0,-2.11667 -1.85208,-3.96875 -3.96875,-3.96875 z m 5.02709,60.85416 c -0.0514,1.99733 -1.34084,3.96875 -3.96875,3.96875 0,1.70732 0,3.96875 -1.05834,3.96875 1.57266,6.93242 2.38125,15.875 -1.5875,27.78125 v 1.32292 c 3.96875,-6.61458 5.82084,-14.55208 7.23286,-22.43341 0.70464,-5.34784 0.70464,-9.31659 0.70464,-11.96242 v -5.29167 z" id="path1366-0"/>
                    <ellipse style="opacity:1;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.39883763;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" id="path836-6" cx="-494.74329" cy="208.32762" rx="3.9883728" ry="3.9883788" transform="scale(-1,1)" />
                    <circle style="opacity:1;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.77535379;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" id="path822-0" r="1.9383832" cy="258.62714" cx="-502.60495" transform="scale(-1,1)" />
                    <circle style="opacity:1;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.47601172;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" id="path822-6-4" r="1.1900285" cy="255.00548" cx="-503.79489" transform="scale(-1,1)" />
                </g>
            </svg>
            <div class="tab focuses active" data-group="primary" data-tab="focuses">
                <div class="section focuses">
                    <div class="row item">
                        <div class="image"></div>
                        <div class="column-x2-big bold">{{localize 'dishonored.actor.genericitem.name'}}</div>
                        <div class="column-x2-small bold">{{localize 'dishonored.actor.focus.rating'}}</div>
                        <a class="control create" title="{{localize 'dishonored.titles.createItem'}}" data-type="focus"><i class="fas fa-plus"></i></a>
                    </div>
                    {{#each items as |item id|}}
                    {{#if (eq item.type "focus")}}
                    <li class="row entry" data-item-id="{{item._id}}" data-item-type="{{item.type}}">
                        <div class="image"><img class="rollable" src="{{item.img}}" title="{{item.name}}"/></div>
                        <h4 class="column-x2-big">{{item.name}}</h4>
                        <h4 class="column-x2-small">{{item.system.rating}}</h4>
                        <div class="control">
                            <a class="control edit" title="{{localize 'dishonored.titles.editItem'}}"><i class="fas fa-edit"></i></a>
                            <a class="control delete" title="{{localize 'dishonored.titles.deleteItem'}}"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/if}}
                    {{/each}}
                </div>
            </div>
            <div class="tab abilities" data-group="primary" data-tab="abilities">
                <svg width="1920" height="451.40601" viewBox="0 0 507.99999 119.43451" style="width:100%; height:auto; position: absolute;">
                    <g id="layer1" transform="translate(0,-177.56548)">
                        <path style="opacity:1;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.25369042;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" d="m 243.41667,203.33748 c 7.9375,24.19046 7.9375,48.00327 10.58333,71.81577 2.64583,-23.8125 2.64581,-47.62531 10.58333,-71.81577 -5.29168,3.02379 -7.94394,3.0171 -10.58333,3.0241 -2.65231,0.007 -5.29167,-2.6e-4 -10.58333,-3.0241 z m 5.29166,5.66994 c 2.64584,1.72672 3.96552,1.73048 5.29167,1.72651 1.31969,-0.003 2.64583,2.1e-4 5.29167,-1.72651 -3.96877,13.81402 -3.96877,27.41222 -5.29167,41.01041 -1.32291,-13.59819 -1.32291,-27.19639 -5.29167,-41.01041 z" id="svgColumnSeperator"/>
                    </g>
                </svg>
                <div class="main">
                    <div class="section talents">
                        <div class="title">
                            {{localize 'dishonored.actor.talent.title'}}
                        </div>
                        <div class="row item">
                            <div class="image"></div>
                            <div class="column-x1 bold">{{localize 'dishonored.actor.genericitem.name'}}</div>
                            <a class="control create" title="{{localize 'dishonored.titles.createItem'}}" data-type="talent"><i class="fas fa-plus"></i></a>
                        </div>
                        {{#each items as |item id|}}
                        {{#if (eq item.type "talent")}}
                        <li class="row entry" data-item-id="{{item._id}}" data-item-type="{{item.type}}">
                            <div class="image"><img class="rollable" src="{{item.img}}" title="{{item.name}}"/></div>
                            <h4 class="column-x1">{{item.name}}</h4>
                            <div class="control">
                                <a class="control edit" title="{{localize 'dishonored.titles.editItem'}}"><i class="fas fa-edit"></i></a>
                                <a class="control delete" title="{{localize 'dishonored.titles.deleteItem'}}"><i class="fas fa-trash"></i></a>
                            </div>
                        </li>
                        {{/if}}
                        {{/each}}
                    </div>
                    <div class="section powers">
                        <div class="title">
                            {{localize 'dishonored.actor.power.title'}}
                        </div>
                        <div class="row item">
                            <div class="image"></div>
                            <div class="column-x1 bold">{{localize 'dishonored.actor.genericitem.name'}}</div>
                            <a class="control create" title="{{localize 'dishonored.titles.createItem'}}" data-type="power"><i class="fas fa-plus"></i></a>
                        </div>
                        {{#each items as |item type id|}}
                        {{#if (eq item.type "power")}}
                        <li class="row entry" data-item-id="{{item._id}}" data-item-type="{{item.type}}">
                            <div class="image"><img class="rollable" src="{{item.img}}" title="{{item.name}}"/></div>
                            <h4 class="column-x1">{{item.name}}</h4>
                            <div class="control">
                                <a class="control edit" title="{{localize 'dishonored.titles.editItem'}}"><i class="fas fa-edit"></i></a>
                                <a class="control delete" title="{{localize 'dishonored.titles.deleteItem'}}"><i class="fas fa-trash"></i></a>
                            </div>
                        </li>
                        {{/if}}
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="tab belongings" data-group="primary" data-tab="belongings">
                <div class="section belongings">
                    <div class="main">
                        <div class="row item equipable">
                            <div class="image"></div>
                            <div class="column-x2-big bold">{{localize 'dishonored.actor.belonging.weapon.title'}}</div>
                            <div class="column-x2-small bold">{{localize 'dishonored.actor.belonging.weapon.dmg'}}</div>
                            <a class="control create" title="{{localize 'dishonored.titles.createItem'}}" data-type="weapon"><i class="fas fa-plus"></i></a>
                        </div>
                        {{#each items as |item type id|}}
                        {{#if (eq item.type "weapon")}}
                        <li class="row entry equipable" data-item-id="{{item._id}}" data-item-type="{{item.type}}">
                            <div class="image"><img class="rollable" src="{{item.img}}" title="{{item.name}}"/></div>
                            <h4 class="column-x2-big">{{item.name}}</h4>
                            <h4 class="column-x2-small">{{item.system.damage}}</h4>
                            <div class="control">
                                <a class="control edit" title="{{localize 'dishonored.titles.editItem'}}"><i class="fas fa-edit"></i></a>
                                <a class="control delete" title="{{localize 'dishonored.titles.deleteItem'}}"><i class="fas fa-trash"></i></a>
                            </div>
                        </li>
                        {{/if}}
                        {{/each}}
                        <div class="row item equipable">
                            <div class="image"></div>
                            <div class="column-x2-big bold">{{localize 'dishonored.actor.belonging.armor.title'}}</div>
                            <div class="column-x2-small bold">{{localize 'dishonored.actor.belonging.armor.protect'}}</div>
                            <a class="control create" title="{{localize 'dishonored.titles.createItem'}}" data-type="armor"><i class="fas fa-plus"></i></a>
                        </div>
                        {{#each items as |item type id|}}
                        {{#if (eq item.type "armor")}}
                        <li id="armor-{{item._id}}" class="row entry equipable" data-item-id="{{item._id}}" data-item-type="{{item.type}}" data-item-helmet="{{item.system.helmet}}" data-item-equipped="{{item.system.equipped}}">
                            <div class="image"><img class="rollable" src="{{item.img}}" title="{{item.name}}"/></div>
                            <h4 class="column-x2-big">{{item.name}}</h4>
                            <h4 id="protectval-armor-{{item._id}}" class="column-x2-small">{{item.system.protection}}</h4>
                            <div class="control">
                                {{#if (eq item.system.equipped true)}}
                                    <a class="control toggle"><i class="fas fa-toggle-on"></i></a>
                                {{else}}
                                    <a class="control toggle"><i class="fas fa-toggle-off"></i></a>
                                {{/if}}
                                <a class="control edit" title="{{localize 'dishonored.titles.editItem'}}"><i class="fas fa-edit"></i></a>
                                <a class="control delete" title="{{localize 'dishonored.titles.deleteItem'}}"><i class="fas fa-trash"></i></a>
                            </div>
                        </li>
                        {{/if}}
                        {{/each}}
                        <div class="row item equipable">
                            <div class="image"></div>
                            <div class="column-x2-big bold">{{localize 'dishonored.actor.belonging.bonecharm.title'}}</div>
                            <div class="column-x2-small bold"></div>
                            <a class="control create" title="{{localize 'dishonored.titles.createItem'}}" data-type="bonecharm"><i class="fas fa-plus"></i></a>
                        </div>
                        {{#each items as |item type id|}}
                        {{#if (eq item.type "bonecharm")}}
                        <li class="row entry bonecharm equipable" data-item-id="{{item._id}}" data-item-type="{{item.type}}" >
                            <div class="image"><img class="rollable" src="{{item.img}}" title="{{item.name}}"/></div>
                            <h4 class="column-x2-big">{{item.name}}</h4>
                            <div class="column-x2-small"></div>
                            <div class="control">
                                <a class="control toggle"><i class="fas fa-toggle-{{#if (eq item.system.equipped true)}}on{{else}}off{{/if}}"></i></a>
                                <a class="control edit" title="{{localize 'dishonored.titles.editItem'}}"><i class="fas fa-edit"></i></a>
                                <a class="control delete" title="{{localize 'dishonored.titles.deleteItem'}}"><i class="fas fa-trash"></i></a>
                            </div>
                        </li>
                        {{/if}}
                        {{/each}}
                        <div class="row item equipable">
                            <div class="image"></div>
                            <div class="column-x2-big bold">{{localize 'dishonored.actor.belonging.other.title'}}</div>
                            <div class="column-x2-small bold">{{localize 'dishonored.actor.belonging.other.qty'}}</div>
                            <a class="control create" title="{{localize 'dishonored.titles.createItem'}}" data-type="item"><i class="fas fa-plus"></i></a>
                        </div>
                        {{#each items as |item type id|}}
                        {{#if (eq item.type "item")}}
                        <li class="row entry equipable" data-item-id="{{item._id}}" data-item-type="{{item.type}}">
                            <div class="image"><img class="rollable" src="{{item.img}}" title="{{item.name}}"/></div>
                            <h4 class="column-x2-big">{{item.name}}</h4>
                            <h4 class="column-x2-small">{{item.system.quantity}}</h4>
                            <div class="control">
                                <a class="control edit" title="{{localize 'dishonored.titles.editItem'}}"><i class="fas fa-edit"></i></a>
                                <a class="control delete" title="{{localize 'dishonored.titles.deleteItem'}}"><i class="fas fa-trash"></i></a>
                            </div>
                        </li>
                        {{/if}}
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="tab biography" data-group="primary" data-tab="biography">
                <svg width="1920" height="451.40601" viewBox="0 0 507.99999 119.43451" style="width:100%; height:auto; position: absolute;">
                    <g id="layer1" transform="translate(0,-177.56548)">
                        <path style="opacity:1;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.25369042;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" d="m 243.41667,203.33748 c 7.9375,24.19046 7.9375,48.00327 10.58333,71.81577 2.64583,-23.8125 2.64581,-47.62531 10.58333,-71.81577 -5.29168,3.02379 -7.94394,3.0171 -10.58333,3.0241 -2.65231,0.007 -5.29167,-2.6e-4 -10.58333,-3.0241 z m 5.29166,5.66994 c 2.64584,1.72672 3.96552,1.73048 5.29167,1.72651 1.31969,-0.003 2.64583,2.1e-4 5.29167,-1.72651 -3.96877,13.81402 -3.96877,27.41222 -5.29167,41.01041 -1.32291,-13.59819 -1.32291,-27.19639 -5.29167,-41.01041 z" id="svgColumnSeperator"/>
                    </g>
                </svg>
                <div class="content">
                    <div class="section truths">
                        <div class="title">
                            {{localize 'dishonored.actor.truth.title'}}
                        </div>
                        <div class="row item">
                            <div class="image"></div>
                            <div class="column-x1 bold">{{localize 'dishonored.actor.truth.content'}}</div>
                            <a class="control create" title="{{localize 'dishonored.titles.createItem'}}" data-type="truth"><i class="fas fa-plus"></i></a>
                        </div>
                        {{#each items as |item id|}}
                        {{#if (eq item.type "truth")}}
                        <li class="row entry" data-item-id="{{item._id}}" data-item-type="{{item.type}}">
                            <div class="image"><img class="rollable" src="{{item.img}}" title="{{item.name}}"/></div>
                            <h4 class="column-x1">{{item.name}}</h4>
                            <div class="control">
                                <a class="control edit" title="{{localize 'dishonored.titles.editItem'}}"><i class="fas fa-edit"></i></a>
                                <a class="control delete" title="{{localize 'dishonored.titles.deleteItem'}}"><i class="fas fa-trash"></i></a>
                            </div>
                        </li>
                        {{/if}}
                        {{/each}}
                    </div>
                    <div class="section contacts">
                        <div class="title">
                            {{localize 'dishonored.actor.contact.title'}}
                        </div>
                        <div class="row item">
                            <div class="image"></div>
                            <div class="column-x2 bold">{{localize 'dishonored.actor.genericitem.name'}}</div>
                            <div class="column-x2 bold">{{localize 'dishonored.actor.contact.relation'}}</div>
                            <a class="control create" title="{{localize 'dishonored.titles.createItem'}}" data-type="contact"><i class="fas fa-plus"></i></a>
                        </div>
                        {{#each items as |item id|}}
                        {{#if (eq item.type "contact")}}
                        <li class="row entry" data-item-id="{{item._id}}" data-item-type="{{item.type}}">
                            <div class="image"><img class="rollable" src="{{item.img}}" title="{{item.name}}"/></div>
                            <h4 class="column-x2">{{item.name}}</h4>
                            <h4 class="column-x2">{{item.system.relationship}}</h4>
                            <div class="control">
                                <a class="control edit" title="{{localize 'dishonored.titles.editItem'}}"><i class="fas fa-edit"></i></a>
                                <a class="control delete" title="{{localize 'dishonored.titles.deleteItem'}}"><i class="fas fa-trash"></i></a>
                            </div>
                        </li>
                        {{/if}}
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="tab notes" data-group="primary" data-tab="notes">
                <div class="section notes">
                    <div class="notes">
                        {{editor
							notesHTML
							target="system.notes"
							button=true
							owner=owner
							editable=editable
						}}
                   </div>
                </div>
            </div>
        </section>
    </div>
</form>
