<div class="currency row">
	<div class="column-x6 bold">{{localize 'dishonored.actor.belonging.collectable.bonecharm'}}</div>
	<div class="column-x6 small bonecharmCount">
		<span class="small bonecharm disabled">
			<input name="bonecharmsEquipped" type="text" value="{{bonecharmsEquipped}}" readonly/>
		</span> / 3
	</div>
	<div class="column-x6 bold">{{localize 'dishonored.actor.belonging.collectable.rune'}}</div>
	<div class="column-x6 small"><input name="system.runes" type="text" value="{{system.runes}}" placeholder="0"/></div>
	<div class="column-x6 bold">{{localize 'dishonored.actor.belonging.collectable.coin'}}</div>
	<div class="column-x6 small"><input name="system.coins" type="text" value="{{system.coins}}" placeholder="0"/></div>
</div>
